/* first some prefixes*/

* {
    box-sizing: border-box;
}
body, h1 {
    margin: 0;
    font-family: monospace;
    line-height: 1.4em;
    color:#333;
}
.container {
    max-width: 1200px;
    height: auto;
    margin: auto;


}

.p2 {
    padding: 20px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ddd;
}

.header > .logo > img {
    width: 100px;

}

.header > .logo > img {
    width: 30px;
    
}


/* Grid */

.grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-colomns: remeat(3, 1fr);
    grid-auto-rows: minmax(220px, auto);
}

.gid-item {
    background-color: #ddd;
}



